.first {
    display: flex;
    margin-top: 83px;
    justify-content: center;
    align-items: center;
}

.firstpage {
    height: 475px;
    width: 663px;
    background: linear-gradient(#80ee80, #2c00ff);
    text-align: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    border-radius: 30px;
}

h2,
h3 {
    font-size: 27px;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: space-evenly;
    width: 76%;
    margin: -1px 0;
}

.container1 {
    display: flex;
    justify-content: space-evenly;
    width: 76%;
    margin: -1px 0;
}

.container a {
    text-decoration: none;
    display: block;
    color: black;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    border-radius: 7px;
    margin: 32px;
    transition: transform 0.4s ease, filter 0.3s ease;
    padding: 7px;
    align-content: center;

}

.container1 a {
    text-decoration: none;
    display: block;
    color: black;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    border-radius: 7px;
    margin: 32px;
    transition: transform 0.4s ease, filter 0.3s ease;
    padding: 7px;
    align-content: center;
    margin-left: -324px;
    width: 70px;

}

.container1 a:hover {
    color: white;
    background-color: black;
    transform: scale(1.3);
    filter: grayscale(0%);
}

.container a:hover {
    color: white;
    background-color: black;
    transform: scale(1.3);
    filter: grayscale(0%);
}

h1 {
    font-size: 22px;
    margin-top: -105px;
    background-color: white;
    height: 71px;
    width: 288px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    margin-left: 145px;
}

@media (max-width:800px) {
    .first {
        width: 100%;
    }

    .firstpage {
        width: 80%;
    }

    .container {
        width: 106%;
        height: 26%;
    }

    .container1 {
        width: 25%;
    }

    .container1 a {
        width: 103%;
        margin-left: -154px;
    }

    h1 {
        width: 47%;
        font-size: 16px;
        height: 12%;
        margin-top: -88px;
        margin-left: 113px;
    }
}