body
{
  display: flex;
  justify-content: center;
  align-content: center;
}



.container
{
  display: flex;
  width: 398px;
  height: 365px;
  background: linear-gradient(rgb(59, 56, 226),rgb(228, 72, 228));
  margin-top: 121px;
  border-radius: 18px;
  flex-direction: column;
}
.box
{
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  margin: 51px 0px;
  gap: 129px;
}
.container h1
{
  
  text-align: center;
  /* margin-bottom:40px; */
  margin-top: 70px;
}
a
{
  text-decoration: none;
  background-color: aliceblue;
  width: 67px;
  height: 13px;
  padding: 15px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  border-radius: 12px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
