body
{
  display:flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.container1
{
    width: 447px;
    height: 368px;
    margin-top: 61px;
    flex-direction: column;
    background: linear-gradient(#30ddf9,#2df070);
    border-radius: 20px;
    display: flex;
}
.user
{
  
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 26px;
   
   
}
h2
{
    text-align: center;
    margin: 50px;
    font-size: 35px;
}
#name,#password
{
  width: 194px;
  height: 21px;
  font-size: 13px;
 
}
label
{
  font-size: 19px;
  font-weight: bold;
  text-align: left;
  display: inline-block;
  width: 111px;
}
.button>input
{
 
    margin-top: 42px;
    width: 78px;
    
    font-size: 19px;
    font-weight: bold;
    background-color: coral;
}
.button a
{
  text-decoration: none;
  width: 54px;
  height: 25px;
  background-color: #4ba52abd;
  align-content: center;
  text-align: center;
  display: inline-block;
}
@media (max-width:600px)
{
  .container1
  {
    width:90%;
    height: 90%;
  }
  .user
  {
    width:267px;
    margin-top:-40px;
  }
  label
  {
    width: 65px;
    font-size:16px;
  }
  #name,#password
  {
    width: 163px;
    height:20px;
  }
  h2
  {
    font-size:23px;
  }
}