.container1
{
  width: 569px;
  height: 500px;
  margin-top: 180px;
  margin-left: 676px;
  flex-direction: column;
  background: linear-gradient(#f93030,#2d2df0);
  border-radius: 20px;
  display: flex;
}
.user
{
  
   align-items: center;
   justify-content: center;
   display:flex;
   
   margin:26px;
   
   
} 
h2
{
    text-align: center;
    margin: 50px;
    font-size: 35px;
}
#name,#password
{
  width: 194px;
  height: 33px;
  font-size: 18px;
 
}
label
{
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  display: inline-block;
  width: 235px;
}
.button>input
{
    margin-left: 139px;
  margin-top: 75px;
  width: 86px;
  height: 40px;
  font-size: 19px;
  font-weight: bold;
}
#down
{
  width: 114px;
  height: 36px;
  margin-top: 50px;
  margin-left: 158px;
  font-size: 20px;
  font-weight: bold;
}
.down a
{
  margin-left: 168px;
  margin-top: 7px;
  margin-bottom: 21px;
  background-color: aliceblue;
  padding: 7px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  border-radius: 8px;
  text-decoration: none;
  height: 29px;
  width: 77px;
  display: inline-block;
  text-align: center;
  font-weight: bold;

}
